<md-toolbar layout="row">
    <h1 style="padding-left:2%;">noQ</h1>
</md-toolbar>
<md-content>
    <section layout="row" layout-sm="column" layout-align="center center">
        <a href="#/add_new_product"><md-button class="md-fab" aria-label="Eat cake" >
            <i class="fa fa-plus"></i>
        </md-button></a>
        <label>Add a product</label>
       <a href="#/viewBills"> <md-button class="md-fab md-primary" aria-label="Use Android">
            <i class="fa fa-eye"></i>
        </md-button></a>
        <label>View bills</label>
        <br>
    </section>
</md-content>
